html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    /*position: fixed;*/

    background-image: radial-gradient(1600px at 70% 120%, rgba(33, 39, 80, 1) 10%, #020409 100%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-filter: contrast(120%);
    filter: contrast(120%);
    background-color: black;
}

.container {
    width: 100%;
    height: 100%;
}

.content {
    width: inherit;
    height: inherit;
}

#universe {
    width: 100%;
    height: 100%;
    position: absolute;
}

.form-horizontal {
    background: #ffffff;
    margin-top: 80px;
    padding-bottom: 40px;
    border-radius: 15px;
    text-align: center;
    opacity: 0.75;
}

.form-horizontal .heading {
    display: block;
    font-size: 30px;
    font-weight: 700;
    padding: 35px 0;
    border-bottom: 1px solid #f0f0f0;
    padding-top: 100px;
    margin-bottom: 20px;
    text-align: center;
}

.form-horizontal .form-group {
    padding: 0 40px;
    margin: 0 0 25px 0;
    position: relative;
}

.form-horizontal .form-control {
    background: #f0f0f0;
    border: none;
    border-radius: 20px;
    box-shadow: none;
    padding: 0 20px 0 45px;
    height: 40px;
    transition: all 0.3s ease 0s;
    width: 350px;
    display: inline-block;
}

.form-horizontal .form-control:focus {
    background: #e0e0e0;
    box-shadow: none;
    outline: 0 none;
}

.form-horizontal .form-group i {
    position: absolute;
    top: 12px;
    left: 60px;
    font-size: 17px;
    color: #c8c8c8;
    transition: all 0.5s ease 0s;
}

.form-horizontal .form-control:focus + i {
    color: #00b4ef;
}

.form-horizontal .fa-question-circle {
    /*display: inline-block;*/
    margin-right: 80px;
    position: absolute;
    top: 12px;
    right: 60px;
    font-size: 20px;
    color: #808080;
    transition: all 0.5s ease 0s;
}

.form-horizontal .fa-question-circle:hover {
    color: #000;
}

.form-horizontal .fa-user {
    margin-left: 90px;
}

.form-horizontal .fa-lock:before {
    margin-left: 90px;
}

.form-horizontal .main-checkbox {
    float: left;
    width: 20px;
    height: 20px;
    background: #11a3fc;
    border-radius: 50%;
    position: relative;
    margin: 5px 0 0 5px;
    border: 1px solid #11a3fc;
    margin-left: 130px;
    margin-top: 15px;
}

.form-horizontal .main-checkbox label {
    width: 20px;
    height: 20px;
    margin-left: 200px;
    top: 0;
    left: 0;
    cursor: pointer;
}

.form-horizontal .main-checkbox label:after {
    content: "";
    width: 10px;
    height: 5px;
    position: absolute;
    top: 5px;
    left: 4px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.form-horizontal .main-checkbox input[type=checkbox] {
    visibility: hidden;
}

.form-horizontal .main-checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.form-horizontal .text {
    float: left;
    line-height: 20px;
    padding-top: 15px;
    text-transform: capitalize;
    font-size: 13px;
    color: #8c8c8c;
    margin-left: 15px;
}

.form-horizontal .btn {
    float: right;
    font-size: 12px;
    color: #fff;
    background: #00b4ef;
    border-radius: 20px;
    padding: 10px 25px;
    border: none;
    text-transform: capitalize;
    transition: all 0.5s ease 0s;
    margin-right: 160px;
}

@media only screen and (max-width: 479px) {
    .form-horizontal .form-group {
        padding: 0 25px;
    }

    .form-horizontal .form-group i {
        left: 45px;
    }

    .form-horizontal .btn {
        padding: 10px 20px;
    }
}

#footerContent {
    font-family: sans-serif;
    font-size: 110%;
    color: rgba(200, 220, 255, .3);
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 20px;
    text-align: center;
    z-index: 20;
}

#footer {
    position: absolute;
    z-index: 0;
    bottom: 0;
    height: 300px;
    width: 100%;
}

#scene {
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -800px;
}

a {
    text-decoration: none;
    color: rgba(200, 220, 255, 1);
    opacity: .4;
    transition: opacity .4s ease;
}

a:hover {
    opacity: 1;
}

.form-group i.fa {
    position: absolute;
    top: 12px;
    left: 0;
    font-size: 17px;
    color: #c8c8c8;
    transition: all 0.5s ease 0s;
}

#submit {
    /*float: right;*/
    margin-top: 8px;
    font-size: 12px;
    color: #fff;
    background: #00b4ef;
    border-radius: 20px;
    padding: 10px 100px;
    border: none;
    /*text-transform: capitalize;*/
    /*transition: all 0.5s ease 0s;*/
    margin-right: 95px;
}